<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- workout.name %> Workout</title>
        <link rel="stylesheet" href="/styles/stylesheet.css">
    </head>
    <body>
        <a href="/" style="text-decoration: none;">
            <div class="title">
                <h1>Nate's Fitness App</h1>
            </div>
        </a>
        <div class="container">
            <h1><%- workout.name %></h1>
            <hr>
            <table class="exerciseTable">
                <tr>
                    <th>Set</th>
                    <th>Exercise</th>
                    <th>Weight</th>
                    <th>Reps</th>
                </tr>
                <% workout.sets.forEach((set, index) => { %>
                    <tr>
                        <td><%- index + 1 %></td>
                        <td><%- set.exercise %></td>
                        <td><%- set.weight %></td>
                        <td><%- set.numReps %></td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </body>
</html>